<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Yelp business review</title>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">




</head>
<body ng-app="vizApp">
	<div class="container" ng-controller="appCtrl">
	    <div>
      <h3>Yelp business review - Phoenix</h3>
    </div>
		<div class="col-md-12">
			<div class="col-md-8">
<!-- 				<div class="col-md-12">Complaints by Map</div>
		 		<div class="col-md-12" id="map"></div>
		 		<div class="col-md-12" id="lengend"></div> -->
		 		<div class="input-group">
		 			<input type="text" class="form-control" placeholder="Search your restaurant" ng-model="myRest" typeahead="name for name in allNames | filter:$viewValue">
      <span class="input-group-btn">
        <button class="btn btn-primary" ng-click="findres(myRest)" type="button">Find</button>
      </span>
    </div><!-- /input-group -->

						<div class="col-md-12 barchart">
		 		<div class="col-md-12" id="chart"></div>
		</div>
			</div>
			<div class="col-md-4">

				<div class="panel panel-default">
				  <!-- Default panel contents -->
				  <div class="panel-heading">Restaurants by Category</div>
<!-- 				  <div class="panel-body">

				  </div> -->

				  <!-- List group -->
				  	<ul class="list-group">
					    <li class="list-group-item">
				    	<span class="badge">{{noChi}}</span>
				    	Chinese
				  		</li>
				  			    <li class="list-group-item">
				    	<span class="badge">{{noInd}}</span>
				    	Indian
				  		</li>
				  		<li class="list-group-item">
				    	<span class="badge">{{noAme}}</span>
				    	American (Traditional)
				  		</li>
						</ul>

				</div>



				<div class="panel panel-default">
				  <!-- Default panel contents -->
				  <div class="panel-heading">Search Result</div>
<!-- 				  <div class="panel-body">

				  </div> -->

			  	<ul class="list-group">
					    <li class="list-group-item">
				    	<span class="badge"></span>
				    	Name: {{myRest}}
				  		</li>
				  			    <li class="list-group-item">
				    	Star: {{mystar}}
				  		</li>
				  		<li class="list-group-item">
				    	Count: {{mycount}}
				  		</li>
						</ul>

				</div>
			</div>	

		
		</div>


	</div>


	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="http://code.highcharts.com/highcharts.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.1.0/lodash.js"></script>

     <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.js"></script>
	<script src="app.js"></script>


</body>
</html>